<section class="orders-show">

  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
  </header>

  <div class="order-summary jumbotron">
    <h4>Thank you for your order!</h4>
    <h4><%= @order.email%></h4>
  </div>
  
  
  
  
   <div class="panel panel-default items">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Image</th>
          <th>Product</th>
          <th>Description</th>
          <th>Unit Price</th>
          <th>Quantity</th>
          <th>Price</th>
          
        </tr>
      </thead>
      <tbody>
      
        <% @order.line_items.each do|item|%>
        <tr>
        <th><img width="100" height="100" src=<%= Product.find_by(id: item.product_id).image%>></th>
        <th><%= Product.find_by(id: item.product_id).name%></th>
        <th><%= Product.find_by(id: item.product_id).description%></th>
        <th>$<%= item.item_price_cents/100.00%></th>
        <th><%= item.quantity%></th>
        <th>$<%= item.total_price_cents/100.00 %></th>
        <% end%>
        </tr>

      </tbody>
      <tfoot>
      <tr>
      <th colspan="5">Total</th>
      <th><%=@order.total_cents/100.00%></th>
      </tr>
      </tfoot>
    </table>
  </div>
  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>
